{% load crispy_forms_tags %}

<div class="card">
    <div class="card-header bg-primary">
        <h4 class="title text-center text-white ">Edit Member</h4>
    </div>
    <div class="card-body">
        <form class="js-edit-member user form" action="{% url 'accounts:edit_members' pk=member_id.pk %} " method="post" enctype='multipart/form-data'>
    {% csrf_token %}
	<div class="row">
        <div class="form-row">
            <div class="form-group col-12">
                <div class="form-row">
                    <div class="form-group col-md-12 mb-0">

                    </div>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="col-sm-4 mb-3 mb-sm-0 ">
                        {{ form_data.first_name|as_crispy_field }}
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        {{ form_data.middle_name|as_crispy_field }}
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        {{ form_data.last_name|as_crispy_field }}
                    </div>

                    <div class="col-sm-4 mb-3 mb-sm-0">
                        {{ form_data.gender|as_crispy_field }}
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        {{ form_data.marital_status|as_crispy_field }}
                    </div>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        {{ form_data.image|as_crispy_field }}
                    </div>

                    <div class="col-sm-12 mb-3 mb-sm-0">
                        {{ form_data.email|as_crispy_field }}
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        {{ form_data.phone_number|as_crispy_field }}
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        {{ form_data.residency|as_crispy_field }}
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        {{ form_data.occupation|as_crispy_field }}
                    </div>
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        {{ form_data.citizenship|as_crispy_field }}
                    </div>
                </div>

            </div>
        </div>
	</div>
    <hr>
    <div class="form-group row">
        <input type="submit" class="btn btn-primary btn-user btn-block" value="Register Member">
    </div>
</form>
    </div>
</div>