
{% load static %}

<!-- DataTales Example -->
<div class="card shadow mb-4">
	<div class="card-header py-12 d-flex flex-row align-items-center justify-content-between">
		<h6 class="m-0 font-weight-bold text-primary">Add New Activity</h6>
	</div>
	<div class="card-body">
		<div class="form-responsive">
			<form class="user form form-responsive" action="{% url 'activity:create_activity' %}" method="post" enctype='multipart/form-data'>
			    {% csrf_token %}
					{% include 'activity/activity_reg_form.html' %}

			</form>
		</div>
	</div>
</div>



<script  src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form_data.media }}

<script>
(function($) {
    $('#add-form').click(function() {
        var index = $('#id_inline_test_models-TOTAL_FORMS').val()
        var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
        newTable.find(':input').each(function() {
            for (attr of ['name', 'id'])
                $(this).attr(
                    attr,
                    $(this).attr(attr).replace('__prefix__', index)
                )
        })
        newTable.insertBefore($(this))
        $('#id_inline_test_models-TOTAL_FORMS').val(
            parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
        )
        newTable.slideDown()
    })
})($)
</script>
