{% load crispy_forms_tags %}
{% load static %}
<div class="row">


            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="col-sm-6 mb-3 mb-sm-0 ">
                {{ form_data.title|as_crispy_field }}
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                {{ form_data.short_description|as_crispy_field }}
            </div>

            <div class="col-sm-6 mb-3 mb-sm-0 ">
                {{ form_data.starts_on|as_crispy_field }}
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
                {{ form_data.ends_on|as_crispy_field }}
            </div>

            <div class="col-12 mb-12 mb-sm-0">
                {{ form_data.activity_type|as_crispy_field }}
            </div>

            <div class="col-12 mb-12 mb-sm-0">
                {{ form_data.description|as_crispy_field }}
            </div>
</div>
<hr>
<div class="form-group row">
    <input type="submit" class="btn btn-primary btn-user btn-block" value="Register New Activity">
</div>


<!--- Page Scripts --->

{{ form_data.media }}

<script>
(function($) {
    $('#add-form').click(function() {
        var index = $('#id_inline_test_models-TOTAL_FORMS').val()
        var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
        newTable.find(':input').each(function() {
            for (attr of ['name', 'id'])
                $(this).attr(
                    attr,
                    $(this).attr(attr).replace('__prefix__', index)
                )
        })
        newTable.insertBefore($(this))
        $('#id_inline_test_models-TOTAL_FORMS').val(
            parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
        )
        newTable.slideDown()
    })
})($)
</script>