{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
	.center{
	    margin: auto;
	    padding: 40px;
	}

</style>
<div class="col-md-6 center" >
	<div class="card" >
		<div class="card-header py-3 bg-primary card-header text-center d-flex flex-row align-items-center justify-content-between">
			<h2 class="m-0 font-weight-bold text-center text-white"> Login Page</h2>
		</div>
		<div class="card-body">
			<form class="form-group" method="post">
				{% csrf_token %}
				<div class="col-sm-12 mb-6 mb-sm-0 ">
			        {{ form.username |as_crispy_field }}
			    </div>
				<div class="col-sm-12 mb-6 mb-sm-0 ">
			        {{ form.password |as_crispy_field }}
			    </div>
				<hr>
				<input type="submit" class="btn btn-primary btn-user btn-block" value="Login">
			</form>
		</div>
	</div>
</div>
{% endblock %}